[Desktop Entry]
Type=XSession
Exec=wmx
TryExec=wmx
Name=WMX
Comment=Another window manager
Comment[pl]=Jeszcze jeden zarządca okien
# vi: encoding=utf-8
